html {
  height: 100%;
}

body {
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Background {
  background-color: rgb(24, 24, 24);
  position: fixed;
  z-index: -4;
  height: 100%;
  width: 100%;
}

.App {
  color: white;
  overflow: auto;
}
