.datePicker {
  color: white;
  margin: 0px 0px 0px 15px;
  display: inline-block;
  visibility: hidden;

  .react-date-picker__button:enabled .react-date-picker__button__icon {
    stroke: white;
  }

  .react-date-picker__button:enabled:hover .react-date-picker__button__icon,
  .react-date-picker__button:enabled:focus .react-date-picker__button__icon {
    stroke: cyan;
  }

  .react-date-picker__inputGroup__input {
    color: white;
  }

  .react-calendar {
    background-color: rgb(19, 19, 19);
  }

  .react-calendar__month-view__days__day {
    color: rgb(212, 212, 212);
  }

  .react-calendar__month-view__days__day--weekend {
    color: #d10000;
  }

  .react-calendar__month-view__days__day--neighboringMonth {
    color: #363636;
  }

  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    color: rgb(0, 0, 0);
  }

  .react-calendar__tile--now {
    background: #8f8f2f;
  }

  .react-calendar__tile--active {
    background: #2d4a68;
  }

  .react-calendar__navigation button {
    color: white;
  }
  .react-calendar__navigation button:focus,
  .react-calendar__navigation button:hover {
    color: rgb(0, 0, 0);
  }
}

/* Calendar */
.Calendar-MainWin {
  border-color: cyan;
  border-style: solid;
  border-radius: 20px;
  width: 60rem;
  height: 44rem;
}

.Calendar-Title {
  display: inline;
  text-align: center;
  font-size: 2.5rem;
  padding: 0rem;
  margin: 0rem;
  width: 20rem;
  cursor: pointer;

  &:hover {
    color: rgb(255, 123, 0);
  }
}

.Calendar-TitleGrid {
  display: grid;
  grid-template-columns: 1fr 12rem 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}

.Calendar-Title-MonthFlex {
  display: flex;
  align-items: center;
}

.Calendar-Grid {
  width: 60rem;
  padding: 0.5rem;
  height: 40rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 4fr 4fr 4fr 4fr 4fr 4fr;
  overflow: hidden;
}
.CalendarDayTitleFrame {
  border-radius: 0.1rem;
  border: solid white;
}
.CalendarDayTitle {
  text-align: center;
  font-size: 0.8rem;
}
.CalendarItem {
  border-radius: 0.1rem;
  border: solid rgba(255, 255, 255, 0.116) 0.01rem;
  padding: 0px;
  margin: 0px;
  overflow: hidden;

  &:hover {
    border: solid rgba(255, 115, 0, 0.637) 0.2rem;
    border-radius: 0.7rem;
  }
}
.CalendarDayButton {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: inline-flex;
  align-items: flex-start;
  color: white;
}

.Calendar_Button_MonthNav {
  display: inline-block;
  margin: 0rem 2rem 0rem 2rem;
  cursor: pointer;
  padding: 1rem;

  &:hover {
    color: rgba(255, 115, 0, 1);
  }
}

.Calendar-MonthGrid {
  width: 60rem;
  padding: 0.5rem;
  height: 40rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.Calendar-MonthItem {
  border-radius: 0.1rem;
  border: solid rgba(255, 255, 255, 0.116) 0.01rem;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    border: solid rgba(255, 115, 0, 0.637) 0.2rem;
    color: rgba(255, 115, 0);
    border-radius: 1.2rem;
  }
}

.Calendar-YearGrid {
  width: 60rem;
  padding: 0.5rem;
  height: 40rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: stretch;
  align-items: stretch;
}

.Calendar-YearItem {
  border-radius: 0.1rem;
  border: solid rgba(255, 255, 255, 0.116) 0.01rem;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 400;
  cursor: pointer;

  &:hover {
    border: solid rgba(255, 115, 0, 0.637) 0.2rem;
    color: rgba(255, 115, 0);
    border-radius: 0.6rem;
  }
}

.Calendar-Title-YearLayout {
  display: inline;
  text-align: center;
  font-size: 2rem;
  padding: 0rem;
  margin: 0rem;
  width: 11rem;
}

.Calendar-Title-MonthLayout {
  display: inline;
  text-align: center;
  font-size: 2rem;
  padding: 0rem;
  margin: 0rem;
  width: 11rem;
  cursor: pointer;

  &:hover {
    color: rgb(255, 123, 0);
  }
}

.Calendar-Item-Title {
  width: 100%;
  text-align: center;
}

.Calendar-Item-Img {
  width: 100%;
  height: 100%;
}

.Calendar-Item-Contents {
  position: absolute;
  width: 8rem;
}

.Calendar-Item-Num {
  width: 2rem;
  margin: 0 0 0.1rem 0;
}
