/* Single Journal View */

.JournalPage {
  margin: auto;
  width: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Journal-Link {
  text-decoration: none;
  color: black;

  &:hover {
    color: rgb(255, 123, 0);
  }
}

.Journal-Btn {
  width: 10rem;
  height: 3rem;
  font-size: 2rem;
  font-weight: 500;
  background-color: cyan;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MainViewFrame {
  display: grid;
  min-height: 72vh;
  width: 100%;
  grid-template-columns: minmax(0, 3fr) minmax(0, 5fr);
  grid-template-rows: minmax(0, 1fr);
}

.PicturesFrame {
  display: grid;
  min-height: 100%;
  width: 100%;
  border: solid white;
}

.TextFrame {
  min-height: 100%;
  width: 100%;
  border: solid white;
}

/* Single Journal Entry */

.MainEntryFrame {
  display: grid;
  min-height: 75vh;
  width: 100%;
  grid-template-columns: minmax(0, 1fr) minmax(0, 5fr);
  grid-template-rows: 10vh 5vh auto;
  justify-items: center;
}

.EditTitle {
  grid-area: 1 / 1 / 2 / 3;
}

.JournalEntryButtonsFrame {
  grid-area: 2 / 1 / 3 / 3;
}

.EditPictures {
  grid-area: 3 / 1 / 4 / 2;
  border: solid white;
  margin-right: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.EditText {
  grid-area: 3 / 2 / 4 / 3;
  border: solid white;
  width: 100%;
}

.TitleInput {
  display: flex;
  margin: auto;
  text-align: center;
  max-width: 30rem;
  height: 9vh;
  font-size: 3rem;
}

.ImageEntryFrame {
  display: flex;
}

.ImageEntryTitle {
  margin-right: 1.5rem;
}

.EditPictureFrame {
  border: solid white;
  height: 10vh;
}

.EditTextInput {
  display: flex;
  margin: auto;
  margin-top: 20px;
  min-height: 90%;
  width: 90%;
  overflow: hidden;
  box-sizing: border-box;
}
