.Home {
  margin: 1rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home-Nav {
  display: flex;
  width: 25rem;
  justify-content: space-between;
}

.Home-Btn {
  width: 10rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: cyan;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0 0 1rem 0;
}

.Home-Link {
  text-decoration: none;
  color: black;

  &:hover {
    color: rgb(255, 123, 0);
  }
}

@media screen and (max-width: 650px) {
  .Home {
    width: 320px;
  }

  .Home-Nav {
    width: 320px;
  }

  .Home-Btn {
    width: 9rem;
  }
}
