.Login {
  margin: 2rem auto 2rem auto;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Login-Submit {
  width: 10rem;
  height: 3rem;
  background-color: cyan;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 2.1rem;
  font-weight: 600;
  margin: 0.4rem 0 0 0;
  cursor: pointer;

  &:hover {
    color: rgb(255, 115, 0);
    border: solid 0.15rem rgb(255, 115, 0);
  }
}

.Login-Feild {
  width: 20rem;
  height: 2.5rem;
  font-size: 1.3rem;
  margin: 0.4rem 0;
  border-radius: 0.4rem;
  resize: none;
  padding: 0.15rem 0 0 0.6rem;
  outline: none;
  border: solid 0.15rem rgb(194, 194, 88);
  background-color: rgb(255, 255, 255);

  &:hover {
    border-color: rgb(255, 115, 0);
  }
  &:focus {
    border-color: rgb(255, 115, 0);
  }
}
