@mixin section() {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Section {
  @include section;
}

.TitleBox1 {
  width: 40rem;
  height: 3rem;
  margin: 0.8rem 0 1.2rem 0;
  padding-bottom: 0.1rem;
  border-bottom: solid 0.1rem rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .Btn {
    width: 5rem;
    font-size: 0.8rem;
  }

  .Title {
    text-align: center;
    font-size: 2rem;
    padding: 0;
    margin: 0;
  }
}

.Btn {
  width: 7rem;
  height: 2rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  background-color: cyan;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &:hover {
    color: rgb(255, 115, 0);
    border: solid 0.1rem rgb(255, 115, 0);
  }
}

.Link {
  text-decoration: none;
  color: black;

  &:hover {
    color: rgb(255, 123, 0);
  }
}

.Nav {
  width: 40rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .Btn {
    margin: 0.3rem;
    width: 4rem;
    font-size: 0.8rem;
    font-weight: 500;
  }
}

@media screen and (max-width: 650px) {
  .TitleBox {
    width: 320px;
  }

  .Btn {
    width: 4rem;
    font-size: 0.8rem;
  }

  .Nav {
    width: 320px;
  }
}
