/* Base Frames */
.MainWin {
  margin-top: 6vh;
  margin-bottom: 10vh;
  margin-right: 15vw;
  margin-left: 15vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-right: 1vw;
  padding-left: 1vw;
  min-height: 84vh;
  min-width: 70vw;
  border-color: aquamarine;
  border-style: solid;
  border-radius: 20px;
}

/* Custom Widgets */
/* Calendar */
.Calendar {
  width: 100%;
  height: 65vh;
  display: grid;
  grid-gap: 0.05rem;
  grid-template-columns:
    minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr)
    minmax(0, 1fr);
  grid-template-rows:
    minmax(0, 1fr) minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr)
    minmax(0, 4fr);
}
.CalendarDayTitleFrame {
  border-radius: 0.1rem;
  border: solid white;
}
.CalendarDayTitle {
  text-align: center;
  font-size: 0.8rem;
}
.CalendarItem {
  border-radius: 0.1rem;
}
.CalendarItem:hover {
  border: solid white;
}
.CalendarDayButton {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: flex-start;
  color: white;
}

/* Journal  */

/* Titles */
.BigTitle {
  text-align: center;
  font-size: 2.5rem;
}

.XSmallTitle {
  text-align: center;
  font-size: 0.8rem;
}

/* Link Format */
.FormatLink {
  color: 'white';
  display: inline-block;
}
