/* Base Frames */

/* Journal  */

/* Titles */
.BigTitle {
  text-align: center;
  font-size: 2.5rem;
}

.XSmallTitle {
  text-align: center;
  font-size: 0.8rem;
}

/* Link Format */
.FormatLink {
  color: 'white';
  display: inline-block;
}
