.WeatherPage-Main {
  margin: 3rem auto 0rem auto;
  width: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.DayBox {
  border-style: solid;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Weather-Btn {
  width: 10rem;
  height: 3rem;
  background-color: cyan;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: rgb(255, 115, 0);
  }
}

.Weather-BackBtn {
  width: 5rem;
  height: 2rem;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.Weather-Link {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 700;
}

.Weather-NavBox {
  margin: 1rem 0;
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Weather-NavBox-Row {
  width: 21rem;
  display: flex;
  justify-content: space-between;
}

.Weather-Title {
  text-align: center;
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

.Weather-TitleBox {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: end;
}

.Minute-Flex {
  margin: 30px 0px 0px 0px;
  height: 23rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
